 .home-container{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10vh;
}

.home-title{
    font-size: 15vh;
}

.graph-container{
    background-color: floralwhite;
    width: 50vw;
    border-radius: 7.5px;
}