 .home-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     position: absolute;
     top: 40vh;
     left: 30vw;
 }

 .home-title {
     font-size: 5vh;
     font-weight: bold;
     color: floralwhite;
     font-family: 'Questrial', sans-serif;
     text-transform: uppercase;
 }

 a {
     text-decoration: none;
     color: floralwhite;
     transition: .15s;

     &:hover {
         color: #92e0d0;
         transition: .15s;
     }

     &:active {
         color: #1a8870;
         transition: .15s;
     }
 }